ng.Contained.Demo/bin/
ng.Contained.Demo/obj/
*.suo
ng.Contained/obj/
ng.Contained/Scripts/typings/
packages/
ng.Contained/bin/
ng.Contained/compiled/
*.user
.idea
ng.Contained/Scripts/*.js
