<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="/demos/resources/app.css" type="text/css" />    
	<script src="//modernizr.com/downloads/modernizr-latest.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="/compiled/contained.js"></script>

	<script src="/demos/resources/lorum.js"></script>
	<script src="/demos/resources/test1.js"></script>

	<style type="text/css">
		[ng-app] {
			display: flex;
			flex-direction: row;
		}
		.app {
			width: 300px;
			height: 400px;
			background: #b00;
			display: flex;
			margin: 0 auto;
			box-sizing: border-box;
		}
	</style>
</head>
<body>
    <div ng-app="testApp">
		<div ng-controller="test1Controller" class="app">
			<div contained>
				<h1>This is your most basic example</h1>
				<p snoop style="background: #b00; border-bottom: solid 1px black;">It should have a scrollbar and some bindings that will automatically make shit bigger</p>
				<button ng-click="addStuff()">Add Stuff</button>

				<p ng-repeat="p in content">
					{{p}}
				</p>

				<button ng-click="goToTop()">Go to top</button>
			</div>
		</div>

		<div ng-controller="test1Controller" class="app">
			<div contained>
				<h1>This is your most basic example</h1>
				<button ng-click="addStuff()">Add Stuff</button>

				<p ng-repeat="p in content">
					{{p}}
				</p>

			</div>
		</div>
	</div>

</body>
</html>
